/* CSS DO BLOG */

/*reset*/
*{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

.blog-header {
	background: #221E46;
	text-align: center;
	width: 100%;
	height: 13vh;
}

.bh-container {
	max-width: 920px;
	padding: 15px;
	margin: auto auto;
}

.bh-container img{
	float: left;
}

.blog-header a {
	color: white;
	text-decoration: none;
}

.blog-header li {
	list-style: none;
	text-transform: uppercase;
}

.bh-container::after, .bh-container::before {
	display: table;
	content: '';
	clear: both;
}

.mnav {
	float: right;
}
.mnav li{
	display: inline-block;
}

.mnav li a {
	padding: 15px;
	display: block;
}

.posts {
	background: #ECEBEA;
	text-align: left;
	padding: 40px 200px;
}

.posts h2 {
	padding: 20px 0;
}

.posts p {
	padding: 10px 0;
	font-size: 0.9em;
}
.posts a {
	text-decoration: none;
	color: #000;
}

.post {
	background: #E5E6EB;
	text-align: left;
	padding: 40px 200px;
}

.post h2{
	padding: 20px 0;
}

.blog-footer {
	padding: 45px;
	background: #221E46;
	color: white;
	height: 5vh;
}

.foot-container {
	max-width: 920px;
	margin: 0 auto;
}

.foot-container p {
	float: right;
	text-align: left;
	line-height: 1.5em;
}

.blog-footer a {
	float: left;
	margin: auto;
}

.blog-footer i {
	font-size: 2em;
	color: white;
	padding: 0px 10px;
}

.blog-footer i:hover {
	color: gray;